.wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif
}
main{
    padding: 10px;
    margin: 0 auto;
    width: 625px;
    margin-top: 10%;
}
main form,
main img{
    display: inline-block;
}
main form{
    margin: 80px;
    position: absolute;
}

main form input[type='submit']{
    margin: auto;
    display: inherit;
    margin-top: 10px;
    background: none;
    outline: 0;
    border: 1px solid #eee;
    font-size: 15px;
    padding: 2px 20px;
    cursor: pointer;
}

main form input[type='submit']:active{
    background: #FCFCFC!important;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);*/
}
main form input[type='submit']:hover{
    background: linear-gradient(to bottom ,rgba(250, 250, 250, 1) 10% , rgba(255, 255, 255, 1) 100%);
}
main .messages{
    margin-top: 20px;
    text-align: center;
    background-color: #FFDADA;
}
main .messages div{
    padding: 10px;
}
main form div {
    position: relative;
}
form label {
    position: absolute;
    top: 3px;
    left: 10px;
    color: #888;
}
form label.focused {
    color: #555;
}
form label[for="enter"]{
    display: inline-block;
    font-size: 14px;
    position: initial;
    color: #333;
}
