#files .extension{
    width: 32px;
    height: 32px;
    background-image: url('images/file.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
#files .extension.folder{
    width: 32px;
    height: 32px;
    background-image: url('images/folder.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

#upload_container .filePrev{
    float: left;
    margin: 0px 10px;
}

.addFile{
    position: relative;
    overflow: hidden;
    font-size: 1em;
}
.addFile > button{
    height: 100%;
    padding: 0 5px;
}
.addFile input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
#files .act{
    width: 100px;
    vertical-align: middle;
    text-align: center;
}

.folder a{
    text-decoration: none !important;
}
nav#header{
    margin: 10px 0;
}
/*Стили пользовательской панели*/
nav{
    text-align: right;
    position: relative;
}

nav .user{
    margin: 4px 15px;
    color: #2895f1;
    cursor: pointer;
}
nav .user-dropdown-menu{
    right: 1%;
    left: auto;
    text-align: left;
}
nav .user-dropdown-menu li{
    padding: 3px 10px;
    cursor: pointer;
}
nav .user-dropdown-menu li:hover{
    background-color: #ddd;
}

/*=============================*/

/*Стили навигатора папок*/
nav#directoryNavigator{
    text-align: left;
    position: relative;
    clear: both;
    margin-left: 10px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 20px;
    float: left;
}

nav#directoryNavigator .container{
    width: auto;
}

nav#directoryNavigator .container a{
    cursor: pointer;
    margin: 3px;
}
/*=============================*/

/*user actions styles*/

#user_actions{
    float: right;
    padding: 10px 0;
}
#user_actions ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#user_actions ul li{
    padding: 0 5px;
    display: inline-block;
}
#upload_container_dialog .addFile input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 19%;
    height: 100%;
    transform: scale(1);
    /* letter-spacing: 10em; */
    -ms-transform: scale(20);
    opacity: 0;
    cursor: pointer;
}
