.wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif
}
main{
	padding: 10px;
	margin: 0 auto;
	width: 625px;
	margin-top: 10%;
}
main form,
main img{
	display: inline-block;
}
main form{
	margin: 100px;
	position: absolute;
	margin-left: 80px;
}
main form .enter-label-container .enter label{
	font-size: 18px;
	color: #333;
}
main form .enter-label-container * {
	display: inline-block;
}
main form .enter-label-container .register{
	float: right;
}

main form div{
	position: relative;
}

main form label{
	display: inline-block;
}

main form label[for='uname'],
main form label[for='passwd']{
	position: absolute;
	top: 3px;
	left: 10px;
	color: #888;
}
main form label[for='uname'].focused,
main form label[for='passwd'].focused{
	color: #555;
}

main form input[type='text'],
main form input[type='password']{
	border: 1px solid #eee;
	width: 270px;
	font-size: 20px;
	padding: 5px;
	color: #4E4E4E;
}

main form input[type='text']:focus,
main form input[type='password']:focus{
	outline: none;
}

main form input[type='submit']{
	margin: auto;
	display: inherit;
	margin-top: 20px;
	background: none;
	outline: 0;
	border: 1px solid #eee;
	font-size: 15px;
	padding: 2px 20px;
	cursor: pointer;
}

main form input[type='submit']:active{
	background: #FCFCFC!important;
	/*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);*/
}
main form input[type='submit']:hover{
	background: linear-gradient(to bottom ,rgba(250, 250, 250, 1) 10% , rgba(255, 255, 255, 1) 100%);
}
main .not_found_text{
	display: inline-block;
	position: absolute;
	margin-top: 120px;
	margin-left: 40px;
	font-size: 24px;
}
main .messages{
	margin-top: 20px;
	text-align: center;
}
main .messages div{
	padding: 10px;
	width: 260px;
}
main .messages div.error{
	background-color: #FFDADA;
}
main .messages div.success{
	background-color: #DAFFE1;
}
